# --- C++ Build Artifacts ---
*.exe
*.o
*.obj

# --- Python Bindings & Cache ---
*.pyd
__pycache__/

# --- Windows Dependencies (DLLs) ---
# We do not want to commit these to GitHub
*.dll

# --- Data & Output Files ---
*.iso
*.data
*.torrent
output_file
downloaded.data

# --- Environment & IDE ---
venv/
.vscode/